<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.agency">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/private1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:windowSoftInputMode="stateHidden" : Activity 실행 시 EditText 자동 팝업 방지 -->
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyInfoActivity"
            android:label="@string/info_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".JoinActivity"
            android:label="@string/register_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".RankingActivity"
            android:label="@string/ranking_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".UserInfoActivity"
            android:label="@string/user_info_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ReviewActivity"
            android:label="@string/review_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".WriteReviewActivity"
            android:label="@string/review_write_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ReviewActivity" />
        </activity>
        <!-- 로딩 화면 테마 설정... 타이틀바x -->
        <activity
            android:name=".Splash2"
            android:theme="@style/LoadingTheme"></activity>
        <activity android:name=".ReviewDetailActivity"
            android:label="@string/review_detail_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ReviewActivity" />
        </activity>
        <activity android:name=".SearchActivity"
            android:label="@string/search_performance"></activity>
        <activity android:name=".PerformDetail"
            android:label="@string/detail_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /></activity>
    </application>
</manifest>